{{#d-modal-body id="edit-webinar-modal"}}
  <h3>{{i18n 'zoom.panelists'}}</h3>
  {{#if model.panelists}}
    {{#each model.panelists as |panelist|}}
      <div class="webinar-panelist">
        {{panelist.username}}
        {{d-button action=(action 'removePanelist' panelist) class="remove-panelist-btn btn-danger" icon="times" disabled=loading}}
      </div>
    {{/each}}
  {{else}}
    {{i18n "zoom.no_panelists"}}
  {{/if}}
  <div class="webinar-add-panelist">
    <h3>{{i18n 'zoom.add_panelist'}}</h3>
    <span class="new-panelist-input">
      {{user-selector single="true"
                      usernames=newPanelist
                      placeholderKey="zoom.select_panelist"
                      autocomplete="discourse"
                      allowEmails="true"
                      excludeCurrentUser="true"
                      excludedUsernames=excludedUsernames}}
    </span>
    {{d-button action=(action 'addPanelist') class="new-panelist-btn btn-primary" icon="plus" disabled=addingDisabled}}
  </div>
  <div class="webinar-add-video">
    <h3>{{i18n "zoom.webinar_recording"}}</h3>
    <p>{{i18n "zoom.webinar_recording_description"}}</p>
    {{input value=newVideoUrl id="webinar-video-url" name="video url" autocomplete="discourse"}}
    {{d-button action=(action 'saveVideoUrl') class="new-panelist-btn btn-primary" icon="check" disabled=canSaveVideoUrl}}
    {{d-button action=(action 'resetVideoUrl') class="new-panelist-btn btn-danger" icon="times" disabled=canSaveVideoUrl}}
  </div>

{{/d-modal-body}}
