<DModalBody @id="edit-webinar-modal">
  {{#if nonZoomWebinar}}
    <div class="webinar-nonzoom-details">
      <h3>{{i18n "zoom.nonzoom_details"}}</h3>
      <h4>{{i18n "zoom.host"}}</h4>

      <div class="update-host-input">
        <EmailGroupUserChooser
          @value={{hostUsername}}
          @onChange={{action "onChangeHost"}}
          @options={{hash
            filterPlaceholder="zoom.select_host"
            maximum=1
            allowEmails=true
          }}
        />
      </div>

      <h4>{{i18n "zoom.title_date"}}</h4>

      <span class="update-host-details">
        <Input @value={{title}} id="webinar-title" />
        <DateInput
          @date={{pastStartDate}}
          @onChange={{action "onChangeDate"}}
        />
      </span>

      <DButton
        @action={{action "updateDetails"}}
        class="update-details-btn btn-primary"
        @icon="check"
        @disabled={{updateDetailsDisabled}}
      />
    </div>
  {{/if}}

  <div class="webinar-panelists">
    <h3>{{i18n "zoom.panelists"}}</h3>

    {{#if model.panelists}}
      {{#each model.panelists as |panelist|}}
        <div class="webinar-panelist">
          {{panelist.username}}
          <DButton
            @action={{action "removePanelist" panelist}}
            class="remove-panelist-btn btn-danger"
            @icon="times"
            @disabled={{loading}}
          />
        </div>
      {{/each}}
    {{else}}
      {{i18n "zoom.no_panelists"}}
    {{/if}}
  </div>

  <div class="webinar-add-panelist">
    <h3>{{i18n "zoom.add_panelist"}}</h3>

    <span class="new-panelist-input">
      <EmailGroupUserChooser
        @value={{newPanelist}}
        @onChange={{action "updateNewPanelist"}}
        @options={{hash
          filterPlaceholder="zoom.select_panelist"
          maximum=1
          excludedUsernames=excludedUsernames
        }}
      />
    </span>

    <DButton
      @action={{action "addPanelist"}}
      class="new-panelist-btn btn-primary"
      @icon="plus"
      @disabled={{addingDisabled}}
    />
  </div>

  <div class="webinar-add-video">
    <h3>{{i18n "zoom.webinar_recording"}}</h3>
    <p>{{i18n "zoom.webinar_recording_description"}}</p>

    <Input
      @value={{newVideoUrl}}
      id="webinar-video-url"
      name="video url"
      autocomplete="discourse"
    />
    <DButton
      @action={{action "saveVideoUrl"}}
      class="new-panelist-btn btn-primary"
      @icon="check"
      @disabled={{canSaveVideoUrl}}
    />
    <DButton
      @action={{action "resetVideoUrl"}}
      class="new-panelist-btn btn-danger"
      @icon="times"
      @disabled={{canSaveVideoUrl}}
    />
  </div>
</DModalBody>