{{#d-modal-body}}
  {{conditional-loading-spinner condition=loading}}

  {{#if selected}}
    {{#if webinar}}
      {{#if webinarError}}
        <div class="alert alert-error">
          {{webinarError}}
        </div>
      {{/if}}

      <div class="webinar-content">
        <div class="webinar-title bold">
          {{webinar.title}}
        </div>

        <div class="occurrance-start-time">
          {{schedule}}
        </div>

        <h3 class="host">
          {{i18n "zoom.hosted_by"}}
        </h3>

        <div class="host-container">
          <img
            class="avatar"
            src={{webinar.host.avatar_url}}
            width="80"
            height="80"
            title={{details.host.name}}
          >

          <div class="host-description">
            <div class="host-name">
              {{webinar.host.name}}
            </div>
            <div class="group-name">
              {{webinar.host.title}}
            </div>
          </div>
        </div>

        <h3>
          {{i18n "zoom.panelists"}}
        </h3>

        <div class="panelists">
          {{#if webinar.panelists}}
            <div class="panelist-avatars">
              {{#each webinar.panelists as |panelist|}}
                <img
                  class="avatar"
                  src={{panelist.avatar_url}}
                  width="25"
                  height="25"
                  alt={{panelist.name}}
                  title={{panelist.name}}
                >
              {{/each}}
            </div>
          {{else}}
            <div class="no-panelists">
              {{i18n "zoom.no_panelists_preview"}}
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}

    <div class="modal-footer">
      {{#if webinarError}}
        {{d-button action=(action "clear") label="zoom.webinar_picker.clear"}}
      {{else}}
        {{d-button
          action=(action "insert")
          class="btn-primary"
          label="zoom.webinar_picker.create"
        }}
        {{d-button
          action=(action "clear")
          label="zoom.webinar_picker.clear"
          class="btn-flat"
        }}
      {{/if}}
    </div>
  {{else}}
    {{#unless loading}}
      {{#if error}}
        <div class="alert alert-error">
          {{i18n "zoom.error"}}
        </div>
      {{/if}}

      {{#if addingPastWebinar}}
        <div class="webinar-past-input webinar-past-start-date">
          <label>
            {{i18n "zoom.past_date"}}
          </label>
          {{date-input date=pastStartDate onChange=(action "onChangeDate")}}
        </div>

        <div class="webinar-past-input webinar-past-title">
          <label>
            {{i18n "zoom.past_label"}}
          </label>
          {{input
            type="text"
            value=pastWebinarTitle
            valueAttribute="value"
            class="webinar-past-title"
          }}
        </div>

        {{d-button
          action=(action "addPastWebinar")
          icon="plus"
          label="zoom.webinar_picker.create"
          disabled=pastWebinarDisabled
        }}
      {{else}}
        <div class="inline-form webinar-picker-input">
          {{input
            type="text"
            value=webinarIdInput
            valueAttribute="value"
            enter=(action "selectWebinar")
            class="webinar-builder-id"
          }}
          {{d-button
            action=(action "selectWebinar" webinarIdInput)
            icon="plus"
          }}
        </div>

        <div class="webinar-picker-add-past">
          {{d-button
            action=(action "showPastWebinarForm")
            label="zoom.add_past_webinar"
            class="btn-flat past-webinar"
          }}
        </div>

        <div class="webinar-picker-webinars">
          {{#each allWebinars as |webinar|}}
            {{webinar-option-row
              model=webinar
              onSelect=(action "selectWebinar" webinar.id)
            }}
          {{/each}}
        </div>
      {{/if}}
    {{/unless}}
  {{/if}}
{{/d-modal-body}}
