{{#d-modal-body}}
  <form class="form-horizontal webinar-builder">
    <div class="options">
      <div class="input-group">
        <label class="input-group-label">{{i18n 'zoom.webinar_builder.webinar_id'}}</label>
        <div class='webinar-preview-input-group'>
          {{input type='text'
                value=webinarIdInput
                valueAttribute="value"
                class="webinar-builder-id"}}
          {{d-button action=(action "renderPreview") icon="plus"}}
        </div>
      </div>
    </div>
    <div class="d-editor-preview webinar-preview">
      {{webinar webinarId=webinarId preview='true' waiting=waiting updateDetails=(action "updateDetails")}}
    </div>
  </form>
  <div class="modal-footer">
    {{d-button action=(action "insert") class='btn-primary' label='zoom.webinar_builder.create' disabled=waiting}}
  </div>
{{/d-modal-body}}
