{{#if webinar}}
  <div class="webinar-header">
    <div class="webinar-title-section">
      <div class='webinar-title bold'>{{webinar.title}}</div>
      <div class='occurrance-start-time'>{{schedule}}</div>
    </div>

  {{#if showTimer}}
    <div class="countdown">
      <div class="pill">{{cSecs}} <span>Secs</span></div>
      <div class="pill">{{cMins}} <span>Mins</span></div>
      <div class="pill">{{cHours}} <span>Hours</span></div>
      <div class="pill">{{cDays}} <span>Days</span></div>
    </div>
  {{/if}}
  </div>

  {{#if webinar.host}}
    <div class='host'>Hosted by</div>
    <div class='host-container'>
      {{avatar webinar.host imageSize="large"}}
      <div class='host-description'>
        <div class='host-name'>{{hostDisplayName}}</div>
        <div class='group-name'>{{webinar.host.title}}</div>
      </div>
    </div>
  {{/if}}

  {{#if webinar.speakers}}
    <div class='speakers'>
      Speakers
      <div class='speaker-avatars'>
        {{#each webinar.speakers as |speaker|}}
          <img class='avatar' src={{speaker.avatar_url}} width=25 height=25 alt={{speaker.name}} title={{speaker.name}} />
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if registered}}
    <div class="webinar-registered">
      {{d-button class="webinar-registered-button" label="zoom.registered" icon="far-check-circle"}}
    </div>
  {{else}}
    {{#if userCanRegister}}
      {{d-button action=(action "register") class="webinar-register-button btn-primary" label="zoom.register" disabled=loading}}
    {{/if}}
  {{/if}}
{{else}}
  {{conditional-loading-spinner condition=loading}}
{{/if}}
