{{#if webinar}}
  <div class='webinar-title bold'>{{webinar.title}}</div>
  <div class='occurrance-start-time'>{{schedule}}</div>

  <div class='host'>Hosted by</div>
  <div class='host-container'>
    <img class='avatar' src={{webinar.host.avatar_url}} width=80 height=80 title={{details.host.name}}/>
    <div class='host-description'>
      <div class='host-name'>{{webinar.host.name}}</div>
      <div class='group-name'>{{webinar.host.title}}</div>
    </div>
  </div>

  {{#if webinar.panelists}}
    <div class='panelists'>
      {{i18n 'zoom.panelists'}}
      <div class='panelist-avatars'>
        {{#each webinar.panelists as |panelist|}}
          <img class='avatar' src={{panelist.avatar_url}} width=25 height=25 alt={{panelist.name}} title={{panelist.name}} />
        {{/each}}
      </div>
    </div>
  {{/if}}

{{else}}
  {{conditional-loading-spinner condition=loading}}
{{/if}}
