{{#if webinar}}
  <div class="webinar-content">
    <div class="webinar-header">
      <div class="webinar-title-section">
        <div class='webinar-title bold'>
          {{webinar.title}}
          {{#if canEdit}}
            <a href {{action "editPanelists"}} class="edit-panelists" title="{{i18n "edit"}}">{{d-icon "pencil-alt"}}</a>
          {{/if}}
        </div>
        <div class='occurrance-start-time'>{{schedule}}</div>
      </div>

    {{#if setupTimer}}
      {{#if showTimer}}
        <div class="countdown-wrapper">
          <div class="countdown-label">{{i18n "zoom.countdown_label"}}</div>
          <div class="countdown">
            <div class="pill">{{cDays}} <div>{{i18n "zoom.days"}}</div></div>
            <div class="pill">{{cHours}} <div>{{i18n "zoom.hours"}}</div></div>
            <div class="pill">{{cMins}} <div>{{i18n "zoom.mins"}}</div></div>
            <div class="pill">{{cSecs}} <div>{{i18n "zoom.secs"}}</div></div>
          </div>
        </div>
      {{/if}}
    {{/if}}
    </div>

    {{#if webinar.host}}
      <div class='host'>{{i18n "zoom.hosted_by"}}</div>
      <div class='host-container'>
        {{avatar webinar.host imageSize="large"}}
        <div class='host-description'>
          <div class='host-name'>{{hostDisplayName}}</div>
          <div class='group-name'>{{webinar.host.title}}</div>
        </div>
      </div>
    {{/if}}

    {{#if webinar.panelists}}
      <div class='panelists'>
        {{i18n 'zoom.panelists'}}
        <div class='panelist-avatars'>
          {{#each webinar.panelists as |panelist|}}
            {{avatar panelist imageSize="small"}}
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{webinar-register webinar=webinar showCalendarButtons=true}}

    {{#if webinarEnded}}
      <div class="event-ended">
        {{i18n "zoom.webinar_ended"}}
        <div class="video-recording">
          {{#if showingRecording}}
            <video controlslist='nodownload' width='100%' height='100%' src={{webinar.video_url}} controls></video>
          {{else}}
            {{#if webinar.video_url}}
              {{d-button action=(action "showRecording") class="btn-primary" label="zoom.show_recording" icon="play"}}
            {{/if}}
          {{/if}}
        </div>
      </div>
    {{else}}
      {{#if displayAttendees}}
        {{#if webinar.attendees}}
          <div class='attendees'>
            {{i18n 'zoom.attendees'}}
            <div class='attendee-avatars'>
              {{#each webinar.attendees as |attendee|}}
                {{avatar attendee imageSize="small"}}
              {{/each}}
            </div>
          </div>
        {{/if}}
      {{/if}}
      <div class="webinar-footnote">
        {{i18n "zoom.webinar_footnote"}}
      </div>
    {{/if}}
  </div>
{{else}}
  {{conditional-loading-spinner condition=loading}}
{{/if}}
