{{#unless webinarEnded}}
  {{#if webinarStarted}}
    {{#if joinViaZoom}}
      <a href={{joinViaZoom}} class="webinar-join-sdk btn btn-primary">
        {{d-icon "video"}}
        {{i18n "zoom.join_sdk"}}
      </a>
    {{else}}
      <DButton
        @action={{action "joinSDK"}}
        class="webinar-join-sdk btn-primary"
        @label="zoom.join_sdk"
        @icon="video"
      />
    {{/if}}
  {{else}}
    {{#if registered}}
      <div class="webinar-registered">
        {{#if isAttendee}}
          <span class="registered">
            {{d-icon "far-check-circle"}}
            {{i18n "zoom.registered"}}
          </span>

          {{#if canUnregister}}
            <a
              href
              {{action "unregister"}}
              class="btn-flat"
              title={{i18n "zoom.cancel_registration"}}
            >
              {{d-icon "times"}}
            </a>
          {{/if}}
        {{/if}}

        {{#if showCalendarButtons}}
          <div class="zoom-add-to-calendar-container">
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="btn"
              href={{addToGoogleCalendarUrl}}
            >
              {{i18n "zoom.add_to_google_calendar"}}
            </a>

            {{#if isAppWebview}}
              <DButton
                @action={{action "addEventAppWebview"}}
                @label="zoom.add_to_calendar"
              />
            {{else}}
              <a
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                href={{downloadIcsUrl}}
                download={{downloadName}}
              >
                {{i18n "zoom.add_to_outlook"}}
              </a>
            {{/if}}
          </div>
        {{/if}}
      </div>
    {{else}}
      {{#if userCanRegister}}
        <DButton
          @action={{action "register"}}
          class="webinar-register-button btn-primary"
          @label="zoom.register"
          @icon="far-calendar-alt"
          @disabled={{loading}}
        />
      {{/if}}
    {{/if}}
  {{/if}}
{{/unless}}