{{#if registered}}
  <div class="webinar-registered">
    <span>
      {{d-icon "far-check-circle"}}
      {{i18n "zoom.registered"}}
    </span>
  </div>
  {{#if canUnregister}}
    <a {{action "unregister"}}>Unregister</a>
  {{/if}}
{{else}}
  {{#if userCanRegister}}
    {{d-button action=(action "register") class="webinar-register-button btn-primary" label="zoom.register" icon="far-calendar-alt" disabled=loading}}
  {{/if}}
{{/if}}
