{{#unless webinarEnded}}
  {{#if webinarStarted}}
    {{d-button action=(action "joinSDK") class="webinar-join-sdk btn-primary" label="zoom.join_sdk" icon="video"}}
  {{else}}
    {{#if registered}}
      <div class="webinar-registered">
        {{#if isAttendee}}
          <span>
            {{d-icon "far-check-circle"}} {{i18n "zoom.registered"}}
          </span>
          {{#if canUnregister}}
            <a {{action "unregister"}} class="btn-flat" title="{{i18n "zoom.cancel_registration"}}">{{d-icon "times"}}</a>
          {{/if}}
        {{/if}}
        {{#if showCalendarButtons}}
          <div class="zoom-add-to-calendar-container">
            <a target="_blank" href={{addToGoogleCalendarUrl}}>
              <button class="btn">{{i18n "zoom.add_to_google_calendar"}}</button>
            </a>
            {{#if isAppleDevice}}
              <a target="_blank" href={{downloadIcsUrl}} download={{downloadName}}>
                <button class="btn">{{i18n "zoom.add_to_outlook"}}</button>
              </a>
            {{/if}}
          </div>
        {{/if}}
      </div>
    {{else}}
      {{#if userCanRegister}}
        {{d-button action=(action "register") class="webinar-register-button btn-primary" label="zoom.register" icon="far-calendar-alt" disabled=loading}}
      {{/if}}
    {{/if}}
  {{/if}}
{{/unless}}
