{{#if details}}
  <div class='webinar-title bold'>{{details.webinar.title}}</div>
  <div class='occurrance-start-time'>{{schedule}}</div>

  <div class='host'>Hosted by</div>
  <div class='host-container'>
    <img class='avatar' src={{details.host.avatar_url}} width=80 height=80 title={{details.host.name}}/>
    <div class='host-description'>
      <div class='host-name'>{{details.host.name}}</div>
      <div class='group-name'>Developers Group</div>
    </div>
  </div>

  {{#if details.speakers}}
    <div class='speakers'>
      Speakers
      <div class='speaker-avatars'>
        {{#each details.speakers as |speaker|}}
          <img class='avatar' src={{speaker.avatar_url}} width=25 height=25 alt={{speaker.name}} title={{speaker.name}} />
        {{/each}}
      </div>
    </div>
  {{/if}}

  {{#if registered}}
    <h3>You are registered</h3>
  {{else}}
    {{#if userCanRegister}}
      {{d-button action=(action "register") class="webinar-register-button" label="zoom.register"}}
    {{/if}}
  {{/if}}

{{else}}
  {{conditional-loading-spinner condition=loading}}
{{/if}}
