{{#if registered}}
  {{#if webinarStarted}}
    <a href="/zoom/webinars/{{webinar.zoom_id}}/sdk" class="btn btn-default">{{i18n "zoom.join_sdk"}}</a>
  {{else}}
    <div class="webinar-registered">
      {{#if isAttendee}}
        <span>
          {{d-icon "far-check-circle"}} {{i18n "zoom.registered"}}
        </span>
        {{#if canUnregister}}
          <a {{action "unregister"}} class="btn-flat" title="{{i18n "zoom.cancel_registration"}}">{{d-icon "times"}}</a>
        {{/if}}
      {{/if}}
    </div>
  {{/if}}
{{else}}
  {{#if userCanRegister}}
    {{d-button action=(action "register") class="webinar-register-button btn-primary" label="zoom.register" icon="far-calendar-alt" disabled=loading}}
  {{/if}}
{{/if}}
