{{#unless this.webinarEnded}}
  {{#if this.webinarStarted}}
    {{#if this.joinViaZoom}}
      <a href={{this.joinViaZoom}} class="webinar-join-sdk btn btn-primary">
        {{d-icon "video"}}
        {{i18n "zoom.join_sdk"}}
      </a>
    {{else}}
      <DButton
        @action={{action "joinSDK"}}
        class="webinar-join-sdk btn-primary"
        @label="zoom.join_sdk"
        @icon="video"
      />
    {{/if}}
  {{else}}
    {{#if this.registered}}
      <div class="webinar-registered">
        {{#if this.isAttendee}}
          <span class="registered">
            {{d-icon "far-circle-check"}}
            {{i18n "zoom.registered"}}
          </span>

          {{#if this.canUnregister}}
            <a
              href
              {{action "unregister"}}
              class="btn-flat"
              title={{i18n "zoom.cancel_registration"}}
            >
              {{d-icon "xmark"}}
            </a>
          {{/if}}
        {{/if}}

        {{#if this.showCalendarButtons}}
          <div class="zoom-add-to-calendar-container">
            <a
              target="_blank"
              rel="noopener noreferrer"
              class="btn"
              href={{this.addToGoogleCalendarUrl}}
            >
              {{i18n "zoom.add_to_google_calendar"}}
            </a>

            {{#if this.isAppWebview}}
              <DButton
                @action={{action "addEventAppWebview"}}
                @label="zoom.add_to_calendar"
              />
            {{else}}
              <a
                target="_blank"
                rel="noopener noreferrer"
                class="btn"
                href={{this.downloadIcsUrl}}
                download={{this.downloadName}}
              >
                {{i18n "zoom.add_to_outlook"}}
              </a>
            {{/if}}
          </div>
        {{/if}}
      </div>
    {{else}}
      {{#if this.userCanRegister}}
        <DButton
          @action={{action "register"}}
          class="webinar-register-button btn-primary"
          @label="zoom.register"
          @icon="far-calendar-days"
          @disabled={{this.loading}}
        />
      {{/if}}
    {{/if}}
  {{/if}}
{{/unless}}