{{#if this.webinar}}
  <div class="webinar-content">
    <div class="webinar-header">
      <div class="webinar-title-section">
        <div class="webinar-title bold">
          {{this.webinar.title}}
          {{#if this.canEdit}}
            <a
              href
              {{action "editPanelists"}}
              class="edit-panelists"
              title={{i18n "edit"}}
            >
              {{d-icon "pencil"}}
            </a>
          {{/if}}
        </div>
        <div class="occurrence-start-time">{{this.schedule}}</div>
      </div>

      {{#if this.setupTimer}}
        {{#if this.showTimer}}
          <div class="countdown-wrapper">
            <div class="countdown-label">{{i18n "zoom.countdown_label"}}</div>
            <div class="countdown">
              <div class="pill">
                {{this.cDays}}
                <div>{{i18n "zoom.days"}}</div>
              </div>
              <div class="pill">
                {{this.cHours}}
                <div>{{i18n "zoom.hours"}}</div>
              </div>
              <div class="pill">
                {{this.cMins}}
                <div>{{i18n "zoom.mins"}}</div>
              </div>
              <div class="pill">
                {{this.cSecs}}
                <div>{{i18n "zoom.secs"}}</div>
              </div>
            </div>
          </div>
        {{/if}}
      {{/if}}
    </div>

    {{#if this.webinar.host}}
      <div class="host">{{i18n "zoom.hosted_by"}}</div>
      <div class="host-container">
        <a
          href="/u/{{this.webinar.host.username}}"
          data-user-card={{this.webinar.host.username}}
        >
          {{avatar this.webinar.host imageSize="large"}}
        </a>
        <div class="host-description">
          <div class="host-name">{{this.hostDisplayName}}</div>
          <div class="group-name">{{this.webinar.host.title}}</div>
        </div>
      </div>
    {{/if}}

    {{#if this.webinar.panelists}}
      <div class="panelists">
        {{i18n "zoom.panelists"}}
        <div class="panelist-avatars">
          {{#each this.webinar.panelists as |panelist|}}
            <a
              href="/u/{{panelist.username}}"
              data-user-card={{panelist.username}}
            >
              {{avatar panelist imageSize="small"}}
            </a>
          {{/each}}
        </div>
      </div>
    {{/if}}

    {{#if this.currentUser}}
      <WebinarRegister
        @webinar={{this.webinar}}
        @showCalendarButtons={{true}}
      />
    {{/if}}

    {{#if this.webinarEnded}}
      <div class="event-ended">
        {{#if this.webinar.video_url}}
          <div class="video-recording">
            {{#if this.showingRecording}}
              <video
                controlslist="nodownload"
                width="100%"
                height="100%"
                src={{this.webinar.video_url}}
                controls
              ></video>
            {{else}}
              {{#if this.webinar.video_url}}
                <DButton
                  @action={{action "showRecording"}}
                  class="btn-primary"
                  @label="zoom.show_recording"
                  @icon="play"
                />
              {{/if}}
            {{/if}}
          </div>
        {{else}}
          {{i18n "zoom.webinar_ended"}}
        {{/if}}
      </div>
    {{else}}
      {{#if this.displayAttendees}}
        {{#if this.webinar.attendees}}
          <div class="attendees">
            {{i18n "zoom.attendees"}}

            <div class="attendee-avatars">
              {{#each this.webinar.attendees as |attendee|}}
                {{avatar attendee imageSize="small"}}
              {{/each}}
            </div>
          </div>
        {{/if}}
      {{/if}}

      {{#unless this.webinarStarted}}
        <div class="webinar-footnote">
          {{#if this.currentUser}}
            {{i18n "zoom.webinar_footnote"}}
          {{else}}
            {{i18n "zoom.webinar_logged_in_users_only"}}
          {{/if}}
        </div>
      {{/unless}}
    {{/if}}
  </div>
{{else}}
  <ConditionalLoadingSpinner @condition={{this.loading}} />
{{/if}}